apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "k8s-eni-tagger.fullname" . }}
  labels:
    {{- include "k8s-eni-tagger.labels" . | nindent 4 }}
rules:
  - apiGroups: [""]
    resources: ["pods"]
    verbs: ["get", "list", "watch", "update", "patch"]
  - apiGroups: [""]
    resources: ["pods/status"]
    verbs: ["get", "update", "patch"]
  - apiGroups: [""]
    resources: ["events"]
    verbs: ["create", "patch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "k8s-eni-tagger.fullname" . }}
  labels:
    {{- include "k8s-eni-tagger.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "k8s-eni-tagger.fullname" . }}
subjects:
  - kind: ServiceAccount
    name: {{ include "k8s-eni-tagger.serviceAccountName" . }}
    namespace: {{ .Release.Namespace }}
